APP_ENV="APP ENVIRONMENT"

DATABASE_URL="DATA BASE URL CONNECTION"

RENDER_DEPLOY_HOOK_PROD="Render link for deployment on production"

RENDER_DEPLOY_HOOK_TEST="Render link for deployment on test"

OPENAI_API_KEY="Your OpenAI Key for LLM"

GEMINI_API_KEY="Your Gemini Key for LLM"

PERPLEXITYAI_API_KEY="Your PerplexityAI Key for LLM"